<div class="timer"><span>Timer:</span>{{time$ | async}}</div>
<table id="chess-board">

  <tr *ngFor='let row of chessMatrix$ | async; let rowId = index'>

    <td *ngFor='let col of row; let colId = index'
        class='square'
        [ngClass]='{
          light: !isDarkSquare(rowId, colId),
          dark: isDarkSquare(rowId, colId),
          label: !col.isPlayable,
          knight1: col.knightTeam === 1,
          knight2: col.knightTeam === 2
        }'
        (click)='onSquareClicked(rowId, colId, col)'
    >
      <span *ngIf='col.highlight' class='highlight' (click)='moveKnight(rowId, colId)'></span>
      {{col.label}}
    </td>

  </tr>
</table>
