#chess-board {
  border-collapse:collapse;
  margin:1em auto;

  .square {
    height:64px;
    width:64px;
    position: relative;
    &.label {
      font-weight:bold;
      text-align:center;
      vertical-align:middle;
      background: none;
    }
    &.knight1 {
      background-image: url('../../assets/knight-0.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }

    &.knight2 {
      background-image: url('../../assets/knight-1.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }

  .highlight {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 10;
    background: #8BC344;
  }



  .board {
    border:solid 1px #8B4513;
  }

  .dark {
    background-color:#CD853F;
  }

  .light {
    background-color:#FFEFD5;
  }

  .clear {
    background-image: none !important;
  }
}



.timer {
  margin: 10px;
}
