<div class='p-grid' id='move-controls'>
  <div class='p-col-3'></div>
  <div class='p-col-3 move-label'>Move from:</div>
  <div class='p-col-3 move-input'>
    <select [(ngModel)]='moveFrom' (ngModelChange)='onFromChanged($event)'>
      <option [value]='""'>Select Knight</option>
      <option [value]='pawn' *ngFor='let pawn of availablePawns$ | async'>{{readablePos(pawn)}}</option>
    </select>
  </div>
  <div class='p-col-3'></div>

  <div class='p-col-3'></div>
  <div class='p-col-3 move-label'>Move to:</div>
  <div class='p-col-3 move-input'>
    <select [(ngModel)]='moveTo' [disabled]='!moveFrom.length'>
      <option [value]='""'>Select target</option>
      <option [value]='move' *ngFor='let move of availableMoves$ | async'>{{readablePos(move)}}</option>
    </select></div>
  <div class='p-col-5'></div>

  <div class='p-col-3'>
    <button (click)='move()' style='margin-top: 1rem' [disabled]='!moveFrom || !moveTo'>Move</button>
  </div>
</div>
